*{
    font-family: "krub",sans-serif;
}
body{
    background-color: #fec8d8;
}

header{
    background-color: #957dad;
    height: 200px;
}
img{
   
    width: 200px;
}
h1{
   color: #ffdfd3;
    text-align: center;
    margin-top: -100px;
}
.pastel{
    text-align: center;
    color: #957dad;
    background-color: #ffdfd3;
    
    
}
.pastel button{
    width: 180px;
    color: azure;
    font-size: 30px;
    background-color: #957dad;
    border-radius: 2%;
    margin-bottom: 10px;
}

.menu{
    background-color: #957dad ;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}
.menu h2{
    text-align: center;
}
.menus{
    background-color: #ffdfd3;
    
    border-radius: 10px;
    padding: 6px;
}
main section div ul li{
  list-style: none;
}
.menus ul li {
    margin-left: -40px;
    width: 340px;
    height: 80px;
    
    padding: 2px;
}
.product{
    display: block;
    float: right;
    width: 80px;
    height: 80px;
    background-color: #fec8d8;
    object-fit: cover;
}

.Pedido_head{
    margin-top: -30px;
}
.Ptit{
    margin-top: 30px;
}
.pedido{
    background-color: rgba(149, 125, 173,0.4);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    border-radius: 5px;
}
.form{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: lavender;
}


.radio{
    text-align: center;
    font-size: 20px;
    cursor:cell;
    width: 200px;
    height: 30px;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.adornos{
    text-align: center;
    font-size: 20px;
    cursor:cell;
    width: 400px;
    height: 30px;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.pedido p{
    font-size: 30px;
}
.datos{
    font-size: 23px;
}
input[type=submit] {
    width: 100%;
    background-color: #ee7d9f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #53137e;
  }
  footer{
      text-align: center;
      padding: 12px;
  }
  footer a{
      text-decoration: none;
      color: #8b54c2;
  }